/* ================= GLOBAL ================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #141414;
  color: #fff;
  overflow-x: hidden; 
}

a {
  text-decoration: none;
  color: #e5e5e5;
}

/* ================= HEADER ================= */
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background: linear-gradient(to bottom, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 40px;
}

.logo {
  color: #e50914;
  font-size: 2rem;
  font-weight: bold;
}

.nav-menu {
  display: flex;
  gap: 20px;
  font-size: 0.9rem;
}

.nav-menu a:hover, .nav-menu a.active {
  color: #fff;
  font-weight: bold;
}

.user-avatar {
  width: 35px;
  height: 35px;
  border-radius: 4px;
  object-fit: cover;
}

/* ================= HERO ================= */
.hero {
  height: 85vh;
  background-image: url('../public/images/gachiakuta_banner.png');
  background-size: cover;
  background-position: center top;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 50px;

  background-image: linear-gradient(to right, rgba(0,0,0,0.8) 20%, rgba(0,0,0,0) 80%),
                    linear-gradient(to top, #141414 0%, rgba(0,0,0,0) 20%),
                    url('../public/images/gachiakuta_banner.png');
}

.hero-content {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.hero-title {
  font-size: 4rem;
  line-height: 1.1;
}

/* Informações extras da série */
.hero-meta {
  display: flex;
  align-items: center;
  gap: 15px;
  font-weight: bold;
  font-size: 1rem;
}

.match { color: #46d369; }
.age-rating { border: 1px solid #fff; padding: 0 5px; }

.hero-description {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 10px;
}

.hero-buttons {
  display: flex;
  gap: 15px;
}

.btn {
  padding: 10px 30px;
  border-radius: 4px;
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: transform 0.2s, background-color 0.2s;
}

.btn:hover { transform: scale(1.05); }

.btn-primary { background-color: #fff; color: #000; }
.btn-primary:hover { background-color: rgba(255,255,255,0.7); }

.btn-secondary { background-color: rgba(109,109,110,0.7); color: #fff; }
.btn-secondary:hover { background-color: rgba(109,109,110,0.4); }

/* ================= CATÁLOGO E CARDS ================= */
.catalogo {
  padding: 0 50px;
  margin-top: -100px;
  position: relative;
  z-index: 5;
}

.category {
  margin-bottom: 40px;
}

.category h2 {
  font-size: 1.2rem;
  margin-bottom: 15px;
  color: #e5e5e5;
}

.cards-row {
  display: flex;
  gap: 10px;

  /* efeito Carrossel */
  overflow-x: auto;
  scroll-snap-type: x mandatory; 
  -webkit-overflow-scrolling: touch; /* rolagem */
}

/* Esconde a barra de rolagem */
.cards-row::-webkit-scrollbar {
  display: none;
}

.card {
  flex: 0 0 250px; /* Tamanho base para Desktop: 250px */ 
  scroll-snap-align: start; /* "trava" */
  transition: transform 0.3s;
  position: relative;

  scroll-margin-top: 40vh; /* !"down-scroll quick fix" */
}

.card img {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-radius: 4px;
}

.card p {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.8);
}

/* Efeito de Zoom (Desafio Extra 1) */
.card:hover {
  transform: scale(1.1);
  z-index: 2;
}

/* ================= CARROSSEL COM SETAS ================= */
.carousel-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.cards-row {
  scroll-behavior: smooth;
  width: 100%;
}

.slider-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-size: 2rem;
  padding: 15px 10px;
  text-decoration: none;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.3s ease, background 0.3s ease;
  height: 140px; /* Mesma altura do card  */
  display: flex;
  align-items: center;
}

.slider-arrow:hover {
  background: rgba(0, 0, 0, 0.9);
  font-size: 2.5rem;
}

.carousel-wrapper:hover .slider-arrow {
  opacity: 1;
}

.left-arrow {
  left: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.right-arrow {
  right: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

/* ================= FOOTER ================= */
.footer {
  padding: 50px;
  margin-top: 50px;
  color: #737373;
}

.footer-links {
  display: flex;
  gap: 30px;
  margin-bottom: 20px;
}

.footer-links a { color: #737373; font-size: 0.9rem; }
.footer-links a:hover { text-decoration: underline; }

/* ================= RESPONSIVIDADE (TABLET E MOBILE) ================= */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    gap: 15px;
    padding: 20px;
  }
  
  .hero {
    padding: 0 20px;
    text-align: center;
    align-items: center;
  }

  .hero-content {
    align-items: center;
  }

  h1 {
    font-size: 2.5rem;
  }

  .hero-buttons {
    flex-direction: column;
    width: 100%;
  }

  .btn {
    justify-content: center;
    width: 100%;
  }
}
